.side{
   margin: 2rem auto;
   /* width: 10rem; */
   /* border: 2px solid red; */
}
.side h3{
    display: flex;
    justify-content: center;
}
.sides{
    font-size: 0.8rem;
    margin: 0 auto;
}
.inpt{
    margin: 2rem auto;
}
.inpt button{
    width: 12rem;
    height: 3rem;
    margin: 0.5rem;
     display: flex;
    justify-content: center; 
    border:1px solid orangered;
    background-color: white;
    align-items: center;
}
.btns{
    background-color: orangered;
    color: white;
    width: 12rem;
    height: 3rem;
    align-self: center;
    border: 1px solid orangered;
}
.enable ,.overlay{
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}
.overlay{
    background-color:lightgray;
    /* opacity: 0.9; */
}
.content{
    /* display: flex; */
    /* margin-top: 1rem; */
    text-align: center;
    line-height: 1.5;
    background:lightgray;
    color:black;
    padding: 14px 28px;
}
.close{
    position: absolute;
    top:10px;
    right:10px;
    /* padding:5px 7px; */
    background-color: white;
    color: black;
    border:1px solid white;
    border-radius: 1rem;
}
.inputs{
  
    display: block;
    width: 16rem;
    margin:1rem  auto;
}
.text{
    width: 18rem;
    height: 3rem;
    margin:0.5rem 0;
    border-radius: 1rem;
    border:1rem solid white;
}
.buton{
    margin-top: 3rem;
    margin-left: 2rem;
    height: 3rem;
    width:17rem;
    background-color: white;
    border:1px solid orangered;
}